tensorflow==2.11.0
torch==2.4.1
torchvision
mlflow==2.17.2
mlflow-skinny==2.17.2
sqlalchemy==2.0.40
alembic==1.14.1
pandas
scikit-learn==1.3.2
scikit-image==0.19.3
scipy==1.10.1
matplotlib
seaborn
tqdm
opencv-python==4.4.0.46
editdistance
lmdb==1.6.2
pyarrow==17.0.0
pillow==10.4.0
requests==2.32.3
requests-oauthlib==2.0.0
flask==3.0.3
jinja2==3.1.4
fire==0.7.0
pyyaml==6.0.2
jupyterlab==4.3.6
notebook==7.3.3
ipywidgets==8.1.5
matplotlib-inline==0.1.7
ipython==8.12.3
ipykernel==6.29.5
nbformat==5.10.4
nbconvert==7.16.6
jupyter-client==8.6.3
jupyter-console==6.6.3
jupyterlab-widgets==3.0.13
widgetsnbextension==4.0.13
typing-extensions>=4.0,<5
natsort
path
numpy==1.23.5  